@{
    ViewBag.Title = "About";
}
<h2 class="text-center text-info"><span class="glyphicon glyphicon-info-sign"></span>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Best Books is a fun new way to share some of your favorite reads with others as well as start up a discussion and review for different pieces of literature.</p>
