@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to Best Books!</h1>
    <p class="lead"><i>We are a small group of avid readers with the goal of sharing our most recent and favorite reads with the public.</i></p>
    <hr class="my-4">
    <p>After browsing our list of Books, take a look at Amazon to find your next read.</p>
    <a class="btn btn-info btn-lg" href="https://www.amazon.com/gp/browse.html?node=283155&ref_=nav_em_T1_0_4_26_1__bo_t1" role="button">Find Your Next Book</a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>